<div>
    <b class="h2 text-primary">Работа с АКСИОК редактирование или добавление!</b>
</div>
<div class="container">
    <div class="row w-50">
        <div class="col d-flex align-items-center">
            <b class="h3 text-primary ">Тип оборудования:</b>
        </div>
        <div class="col">
            <mat-form-field class="selectin_sql text-primary">
                <mat-label class="text-primary">Тип оборудования</mat-label>
                <mat-select class="text-primary" placeholder="Тип оборудования"
                    [formControl]="modelValid?.getRowValidatorModel[16].get('EquipmentType')"
                    [(ngModel)]="modelAksiok.selectedEquipmentType" name="type">
                    <mat-option class="text-primary" *ngFor="let type of modelAksiok.equipmentType" [value]="type">
                        {{type.NameType}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row w-50">
        <div class="col d-flex align-items-center">
            <b class="h3 text-primary ">Производитель оборудования:</b>
        </div>
        <div class="col">
            <mat-form-field class="selectin_sql text-primary">
                <mat-label class="text-primary">Производитель оборудования</mat-label>
                <mat-select class="text-primary" placeholder="Производитель оборудования"
                    [formControl]="modelValid?.getRowValidatorModel[16].get('Producer')"
                    [(ngModel)]="modelAksiok.selectedProducer" name="producer">
                    <mat-option class="text-primary" *ngFor="let producer of modelAksiok.producer" [value]="producer">
                        {{producer.NameProducer}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row w-50">
        <div class="col d-flex align-items-center">
            <b class="h3 text-primary ">Модель оборудования:</b>
        </div>
        <div class="col">
            <mat-form-field class="selectin_sql text-primary">
                <mat-label class="text-primary">Модель оборудования</mat-label>
                <mat-select class="text-primary" placeholder="Модель оборудования"
                    [formControl]="modelValid?.getRowValidatorModel[16].get('EquipmentModel')"
                    [(ngModel)]="modelAksiok.selectedEquipmentModel" name="model">
                    <mat-option class="text-primary" *ngFor="let model of modelAksiok.equipmentModel" [value]="model">
                        {{model.NameModel}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row w-50">
        <div class="col d-flex align-items-center">
            <b class="h3 text-primary ">Серийный номер:</b>
        </div>
        <div class="col">
            <mat-form-field class="selectin_sql text-primary">
                <input placeholder="Серийный номер" matInput [disabled]="true"
                    value="{{dialogDataBase.componentInstance.parametersModelField.serNumberField}}" />
            </mat-form-field>
        </div>
    </div>
    <div class="row w-50">
        <div class="col d-flex align-items-center">
            <b class="h3 text-primary ">Инвентарный номер:</b>
        </div>
        <div class="col">
            <mat-form-field class="selectin_sql text-primary">
                <input placeholder="Инвентарный номер" matInput [disabled]="true"
                    value="{{dialogDataBase.componentInstance.parametersModelField.inventoryNumField}}" />
            </mat-form-field>
        </div>
    </div>
    <div class="row w-50">
        <div class="col d-flex align-items-center">
            <b class="h3 text-primary ">Комплектность:</b>
        </div>
        <div class="col">
            <mat-checkbox placeholder="Комплектовать?">
                <!-- 
                (click)="$event.stopPropagation();"
                (change)="selectionRowModel.toggle(row);selectModelAksiok()" [checked]="selectionRowModel.isSelected(row)" -->
            </mat-checkbox>
        </div>
    </div>
</div>
<div
    [style.display]="dialogDataBase.componentInstance.parametersModelField.modelRequestField === 'Edit' ? 'inline':'none'">
    <button class="mt-2 btn btn-rn btn-primary" [disabled]="modelValid?.getRowValidatorModel[16].invalid"
        matTooltip="Редактировать" type="submit" (click)="edit()">Редактировать</button>
</div>
<div
    [style.display]="dialogDataBase.componentInstance.parametersModelField.modelRequestField === 'Add' ? 'inline':'none'">
    <button class="mt-2 btn btn-rn btn-primary" [disabled]="modelValid?.getRowValidatorModel[16].invalid"
        matTooltip="Добавить" type="submit" (click)="edit()">Добавить</button>
</div>