<h1>Пользователи</h1>
<mat-tab-group>
    <mat-tab label="Все пользователи">
 <div class="mat-elevation-z8">
        <form class="search">
        <mat-form-field class="search_blok">
                <span matPrefix><i class="material-icons">youtube_searched_for</i></span>
                <input matInput (keyup)="user.filterstable($event.target.value)" placeholder="Поиск данных">
        </mat-form-field>
        </form>
        <table mat-table [dataSource]="user.dataSource" matSort>
            <ng-container matColumnDef="IdUser">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
                <td mat-cell *matCellDef="let row">
                 {{row.IdUser}}
                </td>
            </ng-container>
            <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Имя пользователя</th>
                <td mat-cell *matCellDef="let row">
                <Label [style.display]="row.ModelIsEdit ? 'none':'block'">{{row.Name}}</Label> 
                    <mat-form-field class="validation" [style.display]="!row.ModelIsEdit ? 'none':'block'">
                            <input matInput [formControl]="user.modelvalid?.getRowValidatorModel[0].get('Name')" placeholder="Имя пользователя" [ngModel]="user.model?.Name" (ngModelChange)="user.model.Name = $event"/>
                     </mat-form-field> 
                </td>
            </ng-container>

            <ng-container matColumnDef="TabelNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Табельный номер</th>
                <td mat-cell *matCellDef="let row">
                   <Label [style.display]="row.ModelIsEdit ? 'none':'inline'">{{row.TabelNumber}}</Label> 
                    <mat-form-field class="number" [style.display]="!row.ModelIsEdit ? 'none':'block'">
                            <input matInput  [formControl]="user.modelvalid?.getRowValidatorModel[0].get('TabelNumber')" placeholder="Табельный номер" [ngModel]="user.model?.TabelNumber" (ngModelChange)="user.model.TabelNumber = $event"/>
                    </mat-form-field>
                </td>
            </ng-container>

            <ng-container matColumnDef="Telephon">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Внутренний номер</th>
                <td mat-cell *matCellDef="let row">
                   <Label [style.display]="row.ModelIsEdit ? 'none':'inline'">{{row.Telephon}}</Label> 
                    <mat-form-field class="number" [style.display]="!row.ModelIsEdit ? 'none':'block'">
                            <input matInput  [formControl]="user.modelvalid?.getRowValidatorModel[0].get('Telephon')" placeholder="Внутренний номер" [ngModel]="user.model?.Telephon" (ngModelChange)="user.model.Telephon = $event"/>
                    </mat-form-field>
                </td>
            </ng-container>

            <ng-container matColumnDef="TelephonUndeground">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Городской номер</th>
                <td mat-cell *matCellDef="let row">
                   <Label [style.display]="row.ModelIsEdit ? 'none':'inline'">{{row.TelephonUndeground}}</Label> 
                    <mat-form-field class="number" [style.display]="!row.ModelIsEdit ? 'none':'block'">
                            <input matInput  [formControl]="user.modelvalid?.getRowValidatorModel[0].get('TelephonUndeground')" placeholder="Городской номер" [ngModel]="user.model?.TelephonUndeground" (ngModelChange)="user.model.TelephonUndeground = $event"/>
                    </mat-form-field>
                </td>
            </ng-container>

            <ng-container matColumnDef="IpTelephon">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>IP телефона</th>
                <td mat-cell *matCellDef="let row">
                   <Label [style.display]="row.ModelIsEdit ? 'none':'inline'">{{row.IpTelephon}}</Label>
                    <mat-form-field class="number" [style.display]="!row.ModelIsEdit ? 'none':'block'">
                            <input matInput  [formControl]="user.modelvalid?.getRowValidatorModel[0].get('IpTelephon')" placeholder="IP телефона" [ngModel]="user.model?.IpTelephon" (ngModelChange)="user.model.IpTelephon = $event"/>
                    </mat-form-field>
                </td>
            </ng-container>

            <ng-container matColumnDef="NamePosition">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Должность</th>
                <td mat-cell *matCellDef="let row">
                        <Label [style.display]="row.ModelIsEdit ? 'none':'inline'">{{row.Position?.NamePosition}}</Label>
                        <mat-form-field class="validation" [style.display]="!row.ModelIsEdit ? 'none':'block'">
                                <mat-select (click)="user.calbackfiltersAll()" [formControl]="user.modelvalid?.getRowValidatorModel[0].get('NamePosition')" [placeholder]="user.model.Position.NamePosition" [(ngModel)]="user.model.Position" name="position">
                                  <mat-select-filter class="filter" [placeholder]="user.model.Position.NamePosition" [displayMember]="'NamePosition'" [array]="user.position" (filteredReturn)="user.filteredPosition =$event">
                                  </mat-select-filter>
                                    <mat-option *ngFor="let position of user. filteredPosition" [value]="position">
                                        {{position.NamePosition}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                </td>
            </ng-container>


            <ng-container matColumnDef="NameOtdel">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Отдел</th>
                <td mat-cell *matCellDef="let row">
                   <Label [style.display]="row.ModelIsEdit ? 'none':'inline'">{{row.Otdel?.NameOtdel}}</Label>
                   <mat-form-field class="validation" [style.display]="!row.ModelIsEdit ? 'none':'block'">
                        <mat-select (click)="user.calbackfiltersAll()" [formControl]="user.modelvalid?.getRowValidatorModel[0].get('NameOtdel')" [placeholder]="user.model.Otdel.NameOtdel" [(ngModel)]="user.model.Otdel" name="otdel">
                          <mat-select-filter class="filter" [placeholder]="user.model.Otdel.NameOtdel" [displayMember]="'NameOtdel'" [array]="user.otdels" (filteredReturn)="user.filteredOtdel =$event">
                          </mat-select-filter>
                            <mat-option *ngFor="let otdel of user.filteredOtdel" [value]="otdel">
                                {{otdel.NameOtdel}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
            </ng-container>

 

             <ng-container matColumnDef="ActionsColumn">  
                <th mat-header-cell *matHeaderCellDef>
                    <button mat-icon-button color="primary" [disabled]="user.isAdd" focusable="false" (click)="user.add()">
                        <i class="material-icons">person_add</i>
                    </button>
                </th>
                <td mat-cell *matCellDef="let row">
                <button mat-icon-button *ngIf="!row.ModelIsEdit" [disabled]="user.isEdit" color="accent" (click)="user.edit(row)">
                    <i class="material-icons">edit</i>
                </button>
                <div *ngIf="row.ModelIsEdit" >
                        <button  mat-icon-button type="submit" [disabled]="user.modelvalid.getRowValidatorModel[0].invalid" color="primary" focusable="false" (click)="user.save()">
                                <i class="material-icons">check</i>
                       </button>
                       <button mat-icon-button color="primary" focusable="false" (click)="user.cancel(row)">
                            <i class="material-icons">cancel</i>
                        </button>
                </div>
             </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="user.displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: user.displayedColumns;"></tr>
        </table>
        <mat-paginator #users [pageSizeOptions]="[10, 50, 100]" showFirstLastButtons="true"></mat-paginator>
    </div>

</mat-tab>
    <mat-tab label="Роли/Доступы"></mat-tab>
</mat-tab-group>