<mat-tab-group>
    <mat-tab label="Документы в БД">
            <div class="head" [style.display]="logica?.select ? 'grid' : 'none'">
                    <div class="button"><button mat-button (click)="update()">Обновить</button></div>
                        <div class="grid-container2" *ngFor="let selectvalue of selecting?.parametrs">
                            <div class="grid-item2">
                                <label>{{selectvalue.name}}</label>
                            </div>
                            <div class="grid-item2">
                                <mat-checkbox [(ngModel)]="selectvalue.isvisible"></mat-checkbox>
                            </div>
                            <div class="grid-item2" [style.display]="selectvalue.template===2 ? 'grid' : 'none'">
                                <mat-form-field>
                                    <mat-select placeholder="Отбор данных!" [(ngModel)]="selectvalue.select" name="sel">
                                        <mat-option *ngFor="let sel of selecting.selectparamString" [value]="sel">
                                            {{sel.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="grid-item2" [style.display]="selectvalue.template !== 2 ? 'grid' : 'none'">
                                <mat-form-field>
                                    <mat-select placeholder="Отбор данных!" [(ngModel)]="selectvalue.select" name="sel">
                                        <mat-option *ngFor="let sel of selecting.selectparamNumber" [value]="sel">
                                            {{sel.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                                <div class="grid-item2" [style.display]="selectvalue.template === 1 ? 'grid' : 'none'">
                                    <mat-form-field class="select">
                                        <input matInput type="text" 
                                               #tooltip1="matTooltip"
                                               matTooltip={{selectvalue.paramvalue}}
                                               matTooltipPosition="right"
                                               [(ngModel)]="selectvalue.paramvalue" [formControl]="selectvalue.formTemplate" >
                                        <label class="lableerror" *ngIf="selectvalue.formTemplate.invalid" [ngClass]="'error'">Не соответствует формату дате</label>
                                    </mat-form-field>
                                </div>
                                <div class="grid-item2" [style.display]="selectvalue.template === 2 ? 'grid' : 'none'">
                                    <mat-form-field class="select">
                                        <input matInput type="text" 
                                               #tooltip2="matTooltip"
                                               matTooltip={{selectvalue.paramvalue}}
                                               matTooltipPosition="right"
                                               [(ngModel)]="selectvalue.paramvalue" [formControl]="selectvalue.formTemplate">
                                        <label class="lableerror" *ngIf="selectvalue.formTemplate.invalid" [ngClass]="'error'">Не соответствует формату строке</label>
                                    </mat-form-field>
                                </div>
                            <div class="grid-item2" [style.display]="selectvalue.template === 3 ? 'grid' : 'none'">
                                <mat-form-field class="select">
                                    <input matInput type="text" 
                                           #tooltip3="matTooltip"
                                           matTooltip={{selectvalue.paramvalue}}
                                           matTooltipPosition="right" [(ngModel)]="selectvalue.paramvalue" [formControl]="selectvalue.formTemplate">
                                    <label class="lableerror" *ngIf="selectvalue.formTemplate.invalid" [ngClass]="'error'">Не соответствует формату цифр</label>
                                </mat-form-field>
                            </div>
                            </div>
                       </div>
                <div class="mat-app-background basic-container" [style.display]="logica?.date ? 'none' : 'grid'">
                  <div class="button"><button mat-button (click)="back()">Назад</button></div>
                  <div class="mat-elevation-z8" >
                        <table mat-table *ngIf="logica.errornull; else notfound" [dataSource]="dataSource">
                            <!-- Position Column -->
                            <ng-container  matColumnDef="Id">
                                <th mat-header-cell *matHeaderCellDef>Id Document</th>
                                <td mat-cell *matCellDef="let row"> {{row.Id}} </td>
                            </ng-container>
        
                            <ng-container matColumnDef="IdNamedocument">
                                <th mat-header-cell *matHeaderCellDef>Id Name Document</th>
                                <td mat-cell *matCellDef="let row"> {{row.IdNamedocument}} </td>
                            </ng-container>
        
                            <ng-container matColumnDef="IdUser">
                                    <th mat-header-cell *matHeaderCellDef>Id User</th>
                                    <td mat-cell *matCellDef="let row"> {{row.IdUser}} </td>
                            </ng-container>

                            <ng-container matColumnDef="NameDocument">
                                    <th mat-header-cell *matHeaderCellDef>Наименование документа</th>
                                    <td mat-cell *matCellDef="let row">{{row.Namedocument.NameDocument}} </td>
                                </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="InfoUserFile">
                                <th mat-header-cell *matHeaderCellDef>Содержание</th>
                                <td mat-cell *matCellDef="let row"> {{row.InfoUserFile}} </td>
                            </ng-container>
        
                            <ng-container matColumnDef="IsFileExists">
                                <th mat-header-cell *matHeaderCellDef>Существование файла</th>
                                <td mat-cell *matCellDef="let row"> {{row.IsFileExists}} </td>
                            </ng-container>
                            <!-- Weight Column -->
        
                            <ng-container matColumnDef="Namefile">
                                <th mat-header-cell *matHeaderCellDef>Имя файла</th>
                                <td mat-cell *matCellDef="let row">{{row.Namefile}} </td>
                            </ng-container>
                            <ng-container matColumnDef="TypeFile">
                                <th mat-header-cell *matHeaderCellDef>Тип файла</th>
                                <td mat-cell *matCellDef="let row">{{row.TypeFile}} </td>
                            </ng-container>

                            <ng-container matColumnDef="IsActual">
                                    <th mat-header-cell *matHeaderCellDef>Актуальность документа</th>
                                    <td mat-cell *matCellDef="let row">{{row.IsActual}} </td>
                            </ng-container>

                            <ng-container matColumnDef="Download">
                                <th mat-header-cell *matHeaderCellDef>Логика</th>
                                <td mat-cell *matCellDef="let row">
                                    <button mat-button (click)="donload(row)">Выгрузить документ</button>
                                    <button class="delete" mat-button (click)="delete(row)">Удалить документ</button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displaydataSource"></tr>
                            <tr mat-row *matRowDef="let row; columns: displaydataSource;"></tr>
                        </table>
                       <mat-paginator class="paginator" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons ="true"></mat-paginator>
                    </div>
                </div>
            <div [style.display]="logica?.progress ? 'none':'inline'">
                <p>Идет загрузка данных подождите пожалуйста!!!</p>
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
    </mat-tab>
    <mat-tab label="Загрузка 'НАКЛАДНЫХ' в БД по tiff(Barcode)">
        <uploadsfile ClassFile='Waybill'></uploadsfile>
    </mat-tab>
</mat-tab-group>
<ng-template #notfound>
    <h4>По данной выборки нет данных!!!</h4>
</ng-template>