.modeltable{
   display: inline-flex;
}
.modeltableuse{
    margin-right: 50px;
}
th.mat-header-cell{
    text-align: center;
    white-space: pre-wrap;
    padding-left: 5px;
    padding-right: 5px;
    border: groove;
    background: cadetblue;  
    font-family: 'Times New Roman';
    font-size: 18px;
    font-weight: bold;
 }
 
td.mat-cell{
   text-align: left;
   white-space: nowrap;
   padding-left: 5px;
   padding-right: 5px;
   border: groove;
   background: darkkhaki;
   font-family: 'Times New Roman';
   font-size: 14px;
   font-weight: bold;
 }
 .lable{
     font-size: 14px;
     font-weight: bold;
     font-family: 'Times New Roman';
 }
 .paginator1{
     width: 500px;
 }
 .table1{
     width: 500px;
 }

 .paginator2{
    width: 550px;
}
.table2{
    width: 550px;
}

.table3{
    width: 800px;
}

.paginator3{
    width: 800px;
}
::ng-deep .mat-tab-label-content{
    font-size: 18px;
    color: black;
    font-weight: bold;
}

::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
    font-size: 20px;
     font-weight: bold;
     font-family: 'Times New Roman';
 }