::ng-deep .placeholder{
    color: blue;
    font-size: 24px;
}

::ng-deep .mat-tooltip{
    font-size: 14px !important;
}

.panel{
    margin: 5px;
}
.panelbutton{
    background: azure;
    margin: inherit;
    border-radius: 80px;
    margin: 5px;
}
.checkbox{
    margin-right: 10px;
}

.All{
    text-align: center;
    color: black;
    font-size: 30px;
}
.formAttribute{
    width: 100%;
}

.parametersAll{
    display: inline-block;
    padding: 5;
    margin-left: 5px;
    grid-template-columns: max-content 70%;
    align-items: center;
    font-size: 20px;
    border: cyan;
    font-style: normal;
    width: 19%;
}
.head{
    display: inherit;
    padding: 5;
    margin-left: 5px;
    grid-template-columns: max-content 70%;
    align-items: center;
    font-size: 20px;
    border: cyan;
    font-style: normal;
    width: 19%;
}
.parameter{
    margin-left: 25px;
    height: 75px;
}