<div class="center">
    <div class="registration">
        <div class="head">
            <h2>Вход в систему</h2>
        </div>
        <div class="body">
            <div class="input">
                <mat-form-field class="width">
                    <input matInput placeholder="Введите логин:" type="text"
                        [(ngModel)]="authService.autorization.loginField" />
                </mat-form-field>
                <mat-form-field class="width">
                    <input matInput placeholder="Введите пароль:" type="password"
                        [(ngModel)]="authService.autorization.passwordField" />
                </mat-form-field>
            </div>
        </div>
        <div class="stone">
            <button mat-button (click)="login()" *ngIf="!authService.isLoggedIn">Войти</button>
            <button mat-button (click)="logout()" *ngIf="authService.isLoggedIn">Выйти</button>
        </div>
    </div>
    <div class="errorsModel">
        <h3 id="errors">{{authService.autorization.errorAutorizationField}}</h3>
    </div>
</div>