
::ng-deep .mat-tooltip{
    font-size: 18px !important;
  }

.selectin_sql{
    width: 650px;
 }
.text{
       margin-right: 30px;
}
.model{
    padding: 0,0,10,0;
}


.tablePath{
    width: 100%;
    table-layout: fixed;
}
  
.mainHeader{
    text-align: center;
    white-space: pre-wrap;
    padding-left: 5px;
    padding-right: 5px;
    border: groove;
    background: cadetblue;
    font-family: 'Times New Roman';
    font-size: 28px;
    font-weight: bold;
}
  
.mainCell{
    text-align: left;
    white-space: pre-wrap;
    padding-left: 5px;
    padding-right: 5px;
    font-family: 'Times New Roman';
    background: darkkhaki;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
  
  .textT{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: 'Times New Roman';
    font-size: 18px;
    font-weight: bold;
  }
  
  tr.detail-row {
    height: 0;
  }
  
  .element-row td {
    border-bottom-width: 0;
  }
  
  .element-detail {
    overflow: hidden;
  }
  
  .head {
      width:max-content;
      background: none;
  }
  
  .lableerror{
      height: 1px;
      font-size: smaller;
      color: red;
  }
  
  button {
      background-color: green;
      cursor: pointer;
      margin: 10px;
  }
  
  button:hover {
         background-color: orange;
  }
  .grid-container2 {
      display: grid;
      padding: 3px;
      grid-template-columns: 300px max-content max-content max-content;
      grid-column-gap: 10px;
      width:inherit;
      background: white;
      border: 2px solid darkmagenta;
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  
  
  
  .grid-item2 {
     background-color: white;
     padding: 0px;
     font-style: italic;
     text-align: left;
     align-self: center;
  }
  
  .search_blok{
    width: 50%;
  }
  
  .basic-container{
      background: none;
  }