<div class="head" [style.display]="selecting?.select ? 'grid' : 'none'">
        <div class="button"><button mat-button (click)="update()">Обновить</button></div>
            <div class="grid-container2" *ngFor="let selectvalue of selecting?.parametrs">
                <div class="grid-item2">
                    <label>{{selectvalue.name}}</label>
                </div>
                <div class="grid-item2">
                    <mat-checkbox [(ngModel)]="selectvalue.isvisible"></mat-checkbox>
                </div>
                <div class="grid-item2" [style.display]="selectvalue.template===2 ? 'grid' : 'none'">
                    <mat-form-field>
                        <mat-select placeholder="Отбор данных!" [(ngModel)]="selectvalue.select" name="sel">
                            <mat-option *ngFor="let sel of selecting.selectparamString" [value]="sel">
                                {{sel.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="grid-item2" [style.display]="selectvalue.template !== 2 ? 'grid' : 'none'">
                    <mat-form-field>
                        <mat-select placeholder="Отбор данных!" [(ngModel)]="selectvalue.select" name="sel">
                            <mat-option *ngFor="let sel of selecting.selectparamNumber" [value]="sel">
                                {{sel.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                    <div class="grid-item2" [style.display]="selectvalue.template === 1 ? 'grid' : 'none'">
                        <mat-form-field class="select">
                            <input matInput type="text" 
                                   #tooltip1="matTooltip"
                                   matTooltip={{selectvalue.paramvalue}}
                                   matTooltipPosition="right"
                                   [(ngModel)]="selectvalue.paramvalue" [formControl]="selectvalue.formTemplate" >
                            <label class="lableerror" *ngIf="selectvalue.formTemplate.invalid" [ngClass]="'error'">Не соответствует формату дате</label>
                        </mat-form-field>
                    </div>
                    <div class="grid-item2" [style.display]="selectvalue.template === 2 ? 'grid' : 'none'">
                        <mat-form-field class="select">
                            <input matInput type="text" 
                                   #tooltip2="matTooltip"
                                   matTooltip={{selectvalue.paramvalue}}
                                   matTooltipPosition="right"
                                   [(ngModel)]="selectvalue.paramvalue" [formControl]="selectvalue.formTemplate">
                            <label class="lableerror" *ngIf="selectvalue.formTemplate.invalid" [ngClass]="'error'">Не соответствует формату строке</label>
                        </mat-form-field>
                    </div>
                <div class="grid-item2" [style.display]="selectvalue.template === 3 ? 'grid' : 'none'">
                    <mat-form-field class="select">
                        <input matInput type="text" 
                               #tooltip3="matTooltip"
                               matTooltip={{selectvalue.paramvalue}}
                               matTooltipPosition="right" [(ngModel)]="selectvalue.paramvalue" [formControl]="selectvalue.formTemplate">
                        <label class="lableerror" *ngIf="selectvalue.formTemplate.invalid" [ngClass]="'error'">Не соответствует формату цифр</label>
                    </mat-form-field>
                </div>
                </div>
            </div>