<mat-tab-group>
        <mat-tab label="Техника на пользователя">
<div class="head" [style.display]="logica?.select ? 'grid' : 'none'">
        <div class="button"><button mat-button (click)="update()">Обновить</button></div>
            <div class="grid-container2" *ngFor="let selectvalue of selecting?.parametrs">
                <div class="grid-item2">
                    <label>{{selectvalue.name}}</label>
                </div>
                <div class="grid-item2">
                    <mat-checkbox [(ngModel)]="selectvalue.isvisible"></mat-checkbox>
                </div>
                <div class="grid-item2" [style.display]="selectvalue.template===2 ? 'grid' : 'none'">
                    <mat-form-field>
                        <mat-select placeholder="Отбор данных!" [(ngModel)]="selectvalue.select" name="sel">
                            <mat-option *ngFor="let sel of selecting.selectparamString" [value]="sel">
                                {{sel.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="grid-item2" [style.display]="selectvalue.template !== 2 ? 'grid' : 'none'">
                    <mat-form-field>
                        <mat-select placeholder="Отбор данных!" [(ngModel)]="selectvalue.select" name="sel">
                            <mat-option *ngFor="let sel of selecting.selectparamNumber" [value]="sel">
                                {{sel.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                    <div class="grid-item2" [style.display]="selectvalue.template === 1 ? 'grid' : 'none'">
                        <mat-form-field class="select">
                            <input matInput type="text" 
                                   #tooltip1="matTooltip"
                                   matTooltip={{selectvalue.paramvalue}}
                                   matTooltipPosition="right"
                                   [(ngModel)]="selectvalue.paramvalue" [formControl]="selectvalue.formTemplate" >
                            <label class="lableerror" *ngIf="selectvalue.formTemplate.invalid" [ngClass]="'error'">Не соответствует формату дате</label>
                        </mat-form-field>
                    </div>
                    <div class="grid-item2" [style.display]="selectvalue.template === 2 ? 'grid' : 'none'">
                        <mat-form-field class="select">
                            <input matInput type="text" 
                                   #tooltip2="matTooltip"
                                   matTooltip={{selectvalue.paramvalue}}
                                   matTooltipPosition="right"
                                   [(ngModel)]="selectvalue.paramvalue" [formControl]="selectvalue.formTemplate">
                            <label class="lableerror" *ngIf="selectvalue.formTemplate.invalid" [ngClass]="'error'">Не соответствует формату строке</label>
                        </mat-form-field>
                    </div>
                <div class="grid-item2" [style.display]="selectvalue.template === 3 ? 'grid' : 'none'">
                    <mat-form-field class="select">
                        <input matInput type="text" 
                               #tooltip3="matTooltip"
                               matTooltip={{selectvalue.paramvalue}}
                               matTooltipPosition="right" [(ngModel)]="selectvalue.paramvalue" [formControl]="selectvalue.formTemplate">
                        <label class="lableerror" *ngIf="selectvalue.formTemplate.invalid" [ngClass]="'error'">Не соответствует формату цифр</label>
                    </mat-form-field>
                </div>
                </div>
           </div>
    <div class="mat-app-background basic-container" [style.display]="logica?.date ? 'none' : 'grid'">
      <div class="button"><button mat-button (click)="back()">Назад</button></div>
        <mat-tree  [dataSource]="nestedDataSource" [treeControl]="nestedTreeControl" class="tree">
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
                  <li class="mat-tree-node">
                                <table class="table table-striped">
                                        <tr>
                                            <th>Имя оборудования</th>
                                            <th>Наименование модели</th>
                                            <th>Серийный номер</th>
                                            <th>Сервисный номер</th>
                                            <th>Инвентарный номер</th>
                                            <th>Кабинет</th>
                                            <th>Наименование компьютера</th>
                                            <th>Ip Адрес</th>
                                        </tr>
                                        <tbody>
                                            <tr *ngFor="let type of node.Types">
                                                <th>{{type.Name}} </th>
                                                <th>{{type.NameModel}}</th>
                                                <th>{{type.SerNumber}}</th>
                                                <th>{{type.ServiceNumber}}</th>
                                                <th>{{type.InventerNumbe}}</th>
                                                <th>{{type.Kabinet}}</th>
                                                <th>{{type.NameComputer}}</th>
                                                <th>{{type.IpAdress}}</th>
                                            </tr>
                                        </tbody>
                                    </table>
                  </li>
                </mat-tree-node>
                <mat-nested-tree-node *matTreeNodeDef="let node; when: hasNestedChild" matTreeNodePadding>
                  <li>
                        <div class="mat-tree-node">
                        <button class="content" mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.Name">
                              <mat-icon class="mat-icon-rtl-mirror">
                                  {{nestedTreeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                               </mat-icon>
                        </button>
                        <span matBadge="{{node.Children.length}}">{{node.Name}}</span>
                                   
                        </div>
                    <ul [class.example-tree-invisible]="!nestedTreeControl.isExpanded(node)">
                      <ng-container matTreeNodeOutlet>
                      </ng-container>
                    </ul>
                  </li>
                </mat-nested-tree-node>
              </mat-tree>
    </div>
<div [style.display]="logica?.progress ? 'none':'inline'">
    <p>Идет загрузка данных подождите пожалуйста!!!</p>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
</mat-tab>
   <mat-tab label="Техника на отдел">
   <div class="head" [style.display]="logica1?.select ? 'grid' : 'none'">
    <div class="button"><button mat-button (click)="update1()">Обновить</button></div>
        <div class="grid-container2" *ngFor="let selectvalue of selecting1?.parametrs">
            <div class="grid-item2">
                <label>{{selectvalue.name}}</label>
            </div>
            <div class="grid-item2">
                <mat-checkbox [(ngModel)]="selectvalue.isvisible"></mat-checkbox>
            </div>
            <div class="grid-item2" [style.display]="selectvalue.template===2 ? 'grid' : 'none'">
                <mat-form-field>
                    <mat-select placeholder="Отбор данных!" [(ngModel)]="selectvalue.select" name="sel">
                        <mat-option *ngFor="let sel of selecting1.selectparamString" [value]="sel">
                            {{sel.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="grid-item2" [style.display]="selectvalue.template !== 2 ? 'grid' : 'none'">
                <mat-form-field>
                    <mat-select placeholder="Отбор данных!" [(ngModel)]="selectvalue.select" name="sel">
                        <mat-option *ngFor="let sel of selecting1.selectparamNumber" [value]="sel">
                            {{sel.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
                <div class="grid-item2" [style.display]="selectvalue.template === 1 ? 'grid' : 'none'">
                    <mat-form-field class="select">
                        <input matInput type="text" 
                               #tooltip1="matTooltip"
                               matTooltip={{selectvalue.paramvalue}}
                               matTooltipPosition="right"
                               [(ngModel)]="selectvalue.paramvalue" [formControl]="selectvalue.formTemplate" >
                        <label class="lableerror" *ngIf="selectvalue.formTemplate.invalid" [ngClass]="'error'">Не соответствует формату дате</label>
                    </mat-form-field>
                </div>
                <div class="grid-item2" [style.display]="selectvalue.template === 2 ? 'grid' : 'none'">
                    <mat-form-field class="select">
                        <input matInput type="text" 
                               #tooltip2="matTooltip"
                               matTooltip={{selectvalue.paramvalue}}
                               matTooltipPosition="right"
                               [(ngModel)]="selectvalue.paramvalue" [formControl]="selectvalue.formTemplate">
                        <label class="lableerror" *ngIf="selectvalue.formTemplate.invalid" [ngClass]="'error'">Не соответствует формату строке</label>
                    </mat-form-field>
                </div>
            <div class="grid-item2" [style.display]="selectvalue.template === 3 ? 'grid' : 'none'">
                <mat-form-field class="select">
                    <input matInput type="text" 
                           #tooltip3="matTooltip"
                           matTooltip={{selectvalue.paramvalue}}
                           matTooltipPosition="right" [(ngModel)]="selectvalue.paramvalue" [formControl]="selectvalue.formTemplate">
                    <label class="lableerror" *ngIf="selectvalue.formTemplate.invalid" [ngClass]="'error'">Не соответствует формату цифр</label>
                </mat-form-field>
            </div>
            </div>
       </div>
<div class="mat-app-background basic-container" [style.display]="logica1?.date ? 'none' : 'grid'">
  <div class="button"><button mat-button (click)="back1()">Назад</button></div>
    <mat-tree  [dataSource]="nestedDataSource1" [treeControl]="nestedTreeControl1" class="tree">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
              <li class="mat-tree-node">
                    <table class="table table-striped">
                            <tr>
                                <th>Имя оборудования</th>
                                <th>Наименование модели</th>
                                <th>Серийный номер</th>
                                <th>Сервисный номер</th>
                                <th>Инвентарный номер</th>
                                <th>Кабинет</th>
                                <th>Наименование компьютера</th>
                                <th>Ip Адрес</th>
                            </tr>
                            <tbody>
                                <tr *ngFor="let type of node.Types">
                                    <th>{{type.Name}} </th>
                                    <th>{{type.NameModel}}</th>
                                    <th>{{type.SerNumber}}</th>
                                    <th>{{type.ServiceNumber}}</th>
                                    <th>{{type.InventerNumbe}}</th>
                                    <th>{{type.Kabinet}}</th>
                                    <th>{{type.NameComputer}}</th>
                                    <th>{{type.IpAdress}}</th>
                                </tr>
                            </tbody>
                        </table>
              </li>
            </mat-tree-node>
            <mat-nested-tree-node *matTreeNodeDef="let node; when: hasNestedChild1" matTreeNodePadding>
              <li>
                    <div class="mat-tree-node">
                    <button class="content" mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.Name">
                          <mat-icon class="mat-icon-rtl-mirror">
                              {{nestedTreeControl1.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                           </mat-icon>
                    </button>
                    <span matBadge="{{node.Children.length}}">{{node.Name}}</span>
                    <div [style.display]="node.InputServer ?'inline':'none'" class="button"><button mat-button (click)="upload(node)">Выгрузить модель</button></div>
                    </div>
                <ul [class.example-tree-invisible]="!nestedTreeControl1.isExpanded(node)">
                  <ng-container matTreeNodeOutlet>
                  </ng-container>
                </ul>
              </li>
            </mat-nested-tree-node>
          </mat-tree>
</div>
<div [style.display]="logica1?.progress ? 'none':'inline'">
<p>Идет загрузка данных подождите пожалуйста!!!</p>
<mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
</mat-tab>
</mat-tab-group>