.head {
    width:max-content;
}

.lableerror{
    height: 1px;
    font-size: smaller;
    color: red;
}

button {
    background-color: green;
    cursor: pointer;
    margin: 10px;
}
button:hover {
       background-color: orange;
}
.grid-container2 {
    display: grid;
    padding: 3px;
    grid-template-columns: 300px max-content max-content max-content;
    grid-column-gap: 10px;
    width:inherit;
    background: white;
    border: 2px solid darkmagenta;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
    
.grid-item2 {
   background-color: white;
   padding: 0px;
   font-style: italic;
   text-align: left;
   align-self: center;
}
.select {
    width: 350px; 
}

.example-tree-invisible {
    display: none;
  }
.tree ul,
.tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
  
.content {
    margin: 10px;
    background-color: white;
    cursor: pointer;
}

table.table {
    vertical-align: top;
    font-family: Georgia, serif;
    border: 6px ridge #24943A;
    background-color: #D4EED1;
    text-align: center; 
  }
  table.table td, table.table th {
    border: 1px solid #24943A;
    padding: 3px 2px;
  }

  table.table tbody td {
    font-size: 16px;
  }
