<div class="templateusers" >

     <mat-form-field id="usertemplate" class="validation" >
         <input class="input" matInput [formControl]="modelvalid?.getRowValidatorModel[0].get('Name')" placeholder="Имя пользователя" [ngModel]="model?.Name" (ngModelChange)="model.Name = $event"/>
     </mat-form-field>   

     <mat-form-field id='usertemplate' class="number" >
         <input matInput  [formControl]="modelvalid?.getRowValidatorModel[0].get('TabelNumber')" placeholder="Табельный номер" [ngModel]="model?.TabelNumber" (ngModelChange)="model.TabelNumber = $event"/>
     </mat-form-field> 

     <!-- <mat-form-field id='usertemplate' class="validation">
         <mat-select (click)="calbackfiltersAll()" [placeholder]="model.Telephon?.Telephon_" [(ngModel)]="model.Telephon" name="telephon">
            <mat-select-filter class="filter" [placeholder]="model.Telephon?.Telephon_" [displayMember]="'Telephon_'" [array]="telephone" (filteredReturn)="filteredTelephone =$event">
              </mat-select-filter>
               <mat-option [value]='null'>None</mat-option>
               <mat-option *ngFor="let telephon of filteredTelephone" [value]="telephon">
                 {{telephon.Telephon_}}
               </mat-option>
            </mat-select>
    </mat-form-field>  -->

    <mat-form-field id='usertemplate'>
        <label>{{model?.Telephon?.TelephonUndeground}}</label> 
    </mat-form-field>
<!-- 
    <mat-form-field id='usertemplate' class="validation">
        <mat-select (click)="calbackfiltersAll()" [formControl]="modelvalid?.getRowValidatorModel[0].get('NamePosition')" [placeholder]="model.Position?.NamePosition" [(ngModel)]="model.Position" name="position">
            <mat-select-filter class="filter" [placeholder]="model.Position?.NamePosition" [displayMember]="'NamePosition'" [array]="position" (filteredReturn)="filteredPosition =$event">
               </mat-select-filter>
                <mat-option [value]='null'>None</mat-option>
                <mat-option *ngFor="let position of filteredPosition" [value]="position">
                 {{position.NamePosition}}
                </mat-option>
        </mat-select>
    </mat-form-field> 

    <mat-form-field id='usertemplate' class="validation">
        <mat-select (click)="calbackfiltersAll()" [formControl]="modelvalid?.getRowValidatorModel[0].get('NameOtdel')" [placeholder]="model.Otdel?.NameOtdel" [(ngModel)]="model.Otdel" name="otdel">
            <mat-select-filter class="filter" [placeholder]="model.Otdel?.NameOtdel" [displayMember]="'NameOtdel'" [array]="otdels" (filteredReturn)="filteredOtdel =$event">
                </mat-select-filter>
                 <mat-option [value]='null'>None</mat-option>
                 <mat-option *ngFor="let otdel of filteredOtdel" [value]="otdel">
                  {{otdel.NameOtdel}}
                 </mat-option>
        </mat-select>
    </mat-form-field>  -->
</div>